<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 1 - Repeat</title>
    <script src="https://kit.fontawesome.com/81b54e6bc6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-nav">
            <!--                logo here      -->
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="../../index.html" class="nav-link">Головна</a></li>
                    <li class="nav-item"><a href="math.html" class="nav-link">Сума і добуток</a></li>
                    <li class="nav-item"><a href="repeat.html" class="nav-link active">Правопис грошової одиниці</a></li>
                    <li class="nav-item"><a href="count.html" class="nav-link">Обчислити кількість символів у тексті</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="calc">

                    <div class="form-group">
                        <h3>Правопис грошової одиниці</h3>
                        <label for="inp_1">Введіть число:</label>
                        <input type="text" class="form-control" id="inp_1">
                    </div>
                    <br>
                    <button onclick="repeat()" class="btn btn-primary">Виконати дії</button>
                    <br>
                    Результат: <span id="result_repeat"></span><br>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../js/repeat.js"></script>
</body>
</html>